In [17]:
import pymysql
import numpy

db = pymysql.connect(host = "cdb-r2g8flnu.bj.tencentcdb.com", port = 10209, user = "dase2020", password = "dase2020", database = "dase_intro_2020")
cursor = db.cursor()

sql = "SELECT * FROM bicycle_train LIMIT 17,5;"
cursor.execute(sql)
res = cursor.fetchall()
for tup in res:
    for each in tup:
        print(f"{each}",end=' ')
    print("\n")

sql = "SELECT wind FROM bicycle_train ORDER BY wind;"
cursor.execute(sql)
res = cursor.fetchall()
print("min: ", res[0][0], ",max: ", res[-1][0])

sql = "SELECT AVG(temp_air) FROM bicycle_train WHERE city=0 AND hour=10 AND weather=1 AND (wind=0 OR wind=1) AND y>=100;"
cursor.execute(sql)
res = cursor.fetchall()
print(res[0][0])

sql = "SELECT temp_air FROM bicycle_train WHERE city=0 AND hour=10 AND weather=1 AND (wind=0 OR wind=1) AND y>=100;"
cursor.execute(sql)
res = cursor.fetchall()

temp = []
sum = 0
cnt = 0
for each_line in res:
    entry = each_line[0]
    temp.append(entry)
    sum += entry
    cnt += 1

mean = sum / cnt
square_sum = 0
for each in temp:
    square_sum += (each-mean)**2
print(square_sum/cnt)

sql = "SELECT city , SUM(y) FROM bicycle_train WHERE is_workday=1 AND weather=3 GROUP BY city ORDER BY SUM(y) DESC;"
cursor.execute(sql)
res = cursor.fetchall()
for each_line in res:
    if each_line[0] == 0:
        print("北京为",each_line[1])
    else:
        print("上海为",each_line[1])

sql = "SELECT hour,AVG(y) FROM bicycle_train WHERE hour BETWEEN 17 AND 19 AND city=1 AND is_workday=1 AND temp_body<=10 GROUP BY hour ORDER BY AVG(y);"
cursor.execute(sql)
res = cursor.fetchall()
for each_line in res:
    print(f"{each_line[0]}时{int(each_line[1])}辆")

18 1 17 1 8 4 1 2 75

19 1 1 1 18 19 1 3 5

20 1 7 0 23 25 2 1 13

21 0 9 0 25 27 1 0 67

22 0 16 1 11 11 3 2 76

min:  0 ,max:  7
20.6000
37.64
上海为 9106
北京为 8084
19时41辆
18时62辆
17时65辆